
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.line-height {
  line-height: 32px !important;

}

body {
  color: black;
  background: #eff4f8;
  font-family: "Kanit", sans-serif;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 500;
  font-style: normal;
}

.vietnam {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.font-ibm {
  font-family: "IBM Plex Sans Thai Looped", sans-serif !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1268px) {
  .container {
    padding: 0 5%;
  }
}

@layer base {
  ul {
    @apply list-disc; /* สไตล์สำหรับ ul */
  }
  ol {
    @apply list-decimal; /* สไตล์สำหรับ ol */
  }
  li {
    @apply list-inside py-1; /* ให้จุดหรือหมายเลขอยู่ด้านในเนื้อหา */
  }
}

.text-gradient-border {
  color: #eee;
  padding: 2px;
  text-transform: capitalize;
  background: linear-gradient(-45deg, #c7d74d, #e73c6f, #0ffdc0, #c7d74d);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.trapezoid {
  width: 50%;
  height: 400px;
  background: #0d1e3ae5;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 82.5% 100%);
}

.hex-grid {
  --l: calc(50px);  /* ค่าเริ่มต้นสำหรับจอทั่วไป */
  --hl: calc(0.5 * var(--l));
  --ri: calc(0.5 * 1.732 * var(--l));
  box-sizing: border-box;
  display: grid;
  place-content: center;
  grid-template: repeat(var(--n-rows), var(--l)) / repeat(
      var(--n-cols),
      var(--ri)
    );
  grid-gap: var(--hl) 0;
  overflow: hidden;
  margin: 0;
  padding: var(--hl) 0;
  filter: drop-shadow(1px 1px 5px rgba(3, 255, 199, 0.3));
  width: 100%;
  height: 100%;
}

.hex-cell {
  background-color: #fff;
  overflow: hidden;
  grid-column-end: span 2;
  margin: calc(-1 * var(--hl)) 0;
  transform: scale(0.95);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.7);
  transition: 0.7s;
}

.hex-image:hover {
  transform: scale(0.8);
}

/* เพิ่ม media query สำหรับมือถือ */
@media (max-width: 768px) {
  .hex-image {
    transform: scale(0.8);
  }
  

}

@media (orientation: landscape) {
  .hex-grid {
    --n-cols: calc((var(--n-rows) + 3));
  }
}

/* เพิ่ม media query สำหรับโทรศัพท์มือถือ */
@media (max-width: 768px) {
  .hex-grid {
    --l: calc(100vmin / var(--n-cols));
  }
}

.particle-network-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.particle-network-animation::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgb(0, 0, 0));
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}

.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.33s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}

.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.67s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

.parallelogram {
	width: 40%;
	height: 25px;
	transform: skew(-20deg);
	background: #24334D;
}

.tiktok-embed {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  border-radius: 8px !important;
  padding-bottom: 0px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
}